<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form>
<table>
<tr>
<td>Job Title</td>
<td><input type="text" ng-model="job.jobTitle"></td>
</tr>


<tr>
<td>Job Description</td>
<td><textarea ng-model="job.jobDescription"></textarea></td>
</tr>

<tr>
<td>Skills Required</td>
<td><input type="text" ng-model="job.skillsRequired"></td>
</tr>

<tr>
<td>Salary</td>
<td><input type="text" ng-model="job.salary"></td>
</tr>

<tr>
<td>location</td>
<td><input type="text" ng-model="job.location"></td>
</tr>

<tr><td>
<input type="submit" value="Post Job" ng-click="saveJob()">
</td>
</tr>
</table>

</form>
</body>
</html>