<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
<tr>
<th>Job Title</th>
</tr>
<tr ng-repeat="job in jobs">
<td>
<a href="" ng-click="getJobDetail(job.jobId)" >{{job.jobTitle}}</a>
</td>
</tr>
</table>
<div ng-show="showJobDetail">
<B>Job Details</B> <BR>
TITLE: 
{{jobDetail.jobTitle}}<br>
JOB DESCRIPTION: 
{{jobDetail.jobDescription}}<br>
SKILLS REQUIRED:
{{jobDetail.skillsRequired}}<br>
SALARY
{{jobDetail.salary}}
<br>
LOCATION
{{jobDetail.location}}<br>
</div>
<a href="#/home"> Home page</a>

</body>

</html>