<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style type="text/css">
body {
    background-image: url('file:///C:/Users/User/Pictures/proj-2 images/orange_white_solid_colorful_65839_1920x1080.jpg');
    background-repeat: repeat-y;
}
</style>
<title>Insert title here</title>
</head>
<body>
<table class="table table-bordered table-inverse">
<tr>
<th>Job Title</th>
</tr>
<tr ng-repeat="job in jobs">
<td>
<a href="" ng-click="getJobDetail(job.jobId)" >{{job.jobTitle}}</a>
</td>
</tr>
</table>
<div ng-show="showJobDetail">
<B>Job Details</B> <BR>
TITLE: 
{{jobDetail.jobTitle}}<br>
JOB DESCRIPTION: 
{{jobDetail.jobDescription}}<br>
SKILLS REQUIRED:
{{jobDetail.skillsRequired}}<br>
SALARY
{{jobDetail.salary}}
<br>
LOCATION
{{jobDetail.location}}<br>
</div>
<a href="#/home"> Home page</a>

</body>

</html>