<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style type="text/css">
body {
    background-image: url('file:///C:/Users/User/Pictures/proj-2 images/orange_white_solid_colorful_65839_1920x1080.jpg');
    background-repeat: repeat-y;
}
</style>
<title>Insert title here</title>
</head>
<body>
<table class="table table-bordered table-inverse">
<tr ng-repeat="f in friends">
<td>{{f.fromId}}</td>
<td>{{f.toId}}</td>
<td><a href="" ng-click="" class="btn btn-default">chat</a></td>
</tr>
</table>
</body>
</html>