<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style type="text/css">
body {
    background-image: url('file:///C:/Users/User/Pictures/proj-2 images/orange_white_solid_colorful_65839_1920x1080.jpg');
    background-repeat: repeat-y;
}
</style>
<title>Insert title here</title>
</head>
<body>
Search By Title:
<input type="text" ng-model="search.title">
Search By Author
<input type="text" ng-model="search.createdBy.username">
<div class="table-responsive">
<table class="table table-bordered table-inverse">
<tr><th>Recent Posts<th></tr>

<tr ng-repeat="blogPost in blogPosts | orderBy:'date':true | filter:search">

<td><a href="#/getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By : {{blogPost.createdBy.username}}</td>
<td>Created On: {{blogPost.createdOn | date:'MM/dd/yyyy HH:mm'}}</td>

</tr>
</table>
</div>
</body>
</html>