<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Search By Title:
<input type="text" ng-model="search.title">
Search By Author
<input type="text" ng-model="search.createdBy.username">
<div class="table-responsive">
<table class="table">
<tr><th>Recent Posts<th></tr>

<tr ng-repeat="blogPost in blogPosts | orderBy:'date':true | filter:search">

<td><a href="#/getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By : {{blogPost.createdBy.username}}</td>
<td>Created On: {{blogPost.createdOn | date:'MM/dd/yyyy HH:mm'}}</td>

</tr>
</table>
</div>
</body>
</html>